faster-whisper 
torch 
torchaudio 
soundfile 
sentencepiece 
protobuf
transformers<=4.56.2
fastapi
uvicorn
pydantic
python-dotenv
python-multipart
psutil
Pillow
pytesseract
pdf2image
fasttext-langdetect